@import 'variables';

$primary: $red-lighter;
$seconday: $grey-lighter;

.checkbox {
  display: flex;
  gap: 0.5rem;

  margin-bottom: 1rem;

  & > input:hover:enabled,
  label {
    cursor: pointer;
  }

  & > input:disabled ~ label {
    cursor: default;
  }
}
