@import 'variables';

.list {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.item {
  display: flex;
  gap: 0.25rem;

  & > input:hover:enabled,
  label {
    cursor: pointer;
  }

  & > input:disabled ~ label {
    cursor: default;
  }
}
