@import 'variables';

.filters {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;
}

.dropdown {
  width: 300px;
}

@media (max-width: $small) {
  .dropdown {
    width: 100%;
  }
}
